{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
<div class="blogs">
    {% for blog in blogs_list %}
        <section class="blog">
            <header class="blog-header">
                <h2 class="blog-title"><a href="{% url "detail" id=blog.id %}">{{ blog.title }}</a></h2>

                    <p class="blog-meta">
                        <a href="#">{{ blog.author }}</a>
                        <a class="blog-author" href="#">{{ blog.publication_date | date:"Y M d" }}</a>
                        {% for label in blog.labels.all %}
                        <a class="blog-category blog-category-js" href="#">{{ label }}</a>
                        {% endfor %} 
                    </p>
            </header>

                <div class="blog-description">
                    <p>
                        {{ blog.content | custom_markdown | truncatewords_html:30 }}
                    </p>
                    <p>
                        <a href="{% url "detail" id=blog.id %}">查看全文</a>
                    </p>
                </div>
        </section>
    {% endfor %}

    {% if blogs_list.object_list and blogs_list.paginator.num_pages > 1 %}
      <div>
      <ul class="pager">
      {% if blogs_list.has_previous %}
        <a href="?page={{ blogs_list.previous_page_number }}">上一页</a>
      {% endif %}

      {% if blogs_list.has_next %}
        <a href="?page={{ blogs_list.next_page_number }}">下一页</a>
      {% endif %}
      </ul>
      </div>
    {% endif %}
</div><!-- /.blog-blog -->
{% endblock %}